@import url("css/vendor/jquery.fullPage.css");

ul {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
}

li {
    display: inline;
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline;
    padding: 5%;
    font-size: 18px;
    color: black;
    letter-spacing: 10px;
}