body {
    width: 100%;
    height: 100%;
    font-family: 'Teko', sans-serif;
}


ul {
    margin: 0 auto;
    text-align: center;
    padding-top: 30%;
    text-transform: uppercase;  
}

li {
    display: inline;
    list-style-type: none;
}

ul li a {
    cursor: pointer;
    text-align: center;
    display: inline;
    padding: 5%;
    font-size: 24px;
    letter-spacing: 10px;
    color: #fff;
    text-decoration-line: none;
}

a:hover {
    text-decoration: line-through;
    color: #161616;
    transition: color 0.5s;

}

.main-logo {
    display: block;
    margin: 0 auto;
    font-size: 70px;
    color: #efefef;
    text-align: center;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 50px;
    font-weight: 700;
    margin-top: 15%;  
}

.tagline {
    width: 50%;
    color: #efefef;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 2%;
    padding-top: 2%;
    font-family: 'Oswald', sans-serif;
}


.form-control {
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    border: none;
    border-bottom-color: #c7c7c7;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background: transparent;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
    text-align: left;
}


input {
    color: #efefef;
}

/* bio page  */

.page-id-24 a {
    color: #161616;
}

.page-id-24 a:hover {
    color: #a0a0a0;
    transition: color 0.5s;   
}

.page-id-24 ul {
    padding-top: 12%; 
}

.bio-page, .journal-page {
    width: 100%;
    margin: 0 auto;
}

.page-head {
    font-size: 32px;
    color: #161616;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.logo-small {
    width: 10%;
    height: 10%;
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 700;
    color: #161616;
    text-transform: uppercase;
}

.flexmain {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
   padding: 0;

}


#text-16 {
    padding-top: 5%;
    width: 60%;
    margin: 0 auto;
    font-size: 24px;
    color: transparent;
    text-shadow: 0 0 6px #161616;;
    transition: all 0.5s ease-in-out;
}

#text-16:hover {
    color: #161616;
    text-shadow: none;
}


/* portfolio page */


.portfolio-section {
    width: 90%;
    margin: 0 auto;
}

.page-id-93 ul {
    padding-top: 3%;
}

.page-id-93 a {
    color: black;
}
.page-id-93 a:hover {
    color: #a0a0a0;
    transition: color 0.5s; 
}
 
.widget-title {
   display: none;
}

.flex-image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto; 
}



/* journal section  */


.journal-page {
    height: 100%;
    background-image: url('../img/blogimage.jpg');
    background-size: 100%;
    background-position: center;
    margin: 0;
    padding-top: 5%;
    color:#efefef;
}


.flex-head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; 
    margin-top: 5%;
}


.journal-head {
    color: #efefef;
    font-size: 36px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.logo-small2 {
    width: 10%;
    height: 10%;
    font-size: 21px;
    letter-spacing: 10px;
    font-weight: 700;
    color: #efefef;
    text-transform: uppercase;
}

.cat-format {
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    display: flex;
    justify-content: space-between; 
}


/* post image format */

.image-post-format {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
}

.post-area {
    width: 100%;
}

.post-title {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
}

.post-title a {
    text-decoration: none;
    color: black
}

.post-title a:hover {
    text-decoration: line-through;
    color: #a0a0a0;
    transition: color 0.5s;
}

.moretag {
    padding: 10px;
    text-decoration: none !important;
    color: black !important;   
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: black;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.more-tag:hover{
    text-decoration: line-through;
    color: #a0a0a0;
    transition: color 0.5s;
}


.post-image {
    width: 100%;
    margin-bottom: 5%;
}

.blog-content {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    width: 100%;
}

.post-line {
    height: 4px;
    width: 100%;
    background-color: #161616;
}

.aside {
    width: 80%;
}


/* contact page */

.page-id-26 ul {
    padding-top: 5%;
}

.page-id-26 a {
    color: #161616;
}

.page-id-26 a:hover {
    color: #a0a0a0;
    transition: color 0.5s;
}

.page-id-26 .flexmain {
    padding-top: 2%;
}

.social-media-link-15539 {
    text-decoration: none;
}

.social-media-link-15539:hover{
    text-decoration: none;
}

i:hover {
    color: #525252;
}

.contact-form {
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
}

.vscf-sidebar-text {
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: #161616;
    border-top-color: #161616;
    border-bottom-width: 2px;
    border-top-width: 2px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    padding: 1%;
    text-align: center; 
    width: 100%;
    margin-bottom: 5%;
}

.form-group {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1%;
}

.btn, .btn-primary {
    background-color: #161616 !important;
    width: 50%;
    padding: 5%;
    margin-top: 25%;
    color: #efefef !important;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: #efefef !important;
    color: #161616 !important;
    transition: 0.2s; 
}

.vscf {
    padding-top: 5%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-control {
    margin: 0 auto;
}


/* footer section */

.footer-section {
    background-image: url(../img/mooning_@2X.png);
    width: 100%;
    margin-top: 5%;
    padding: 0;
}

.f-logo {
    width: 33,3%;
    height: 10%;
    padding-top: 5%;
    font-size: 21px;
    letter-spacing: 10px;
    font-weight: 700;
    color: #fff;
}

.footer-flex {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.contact {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5%;
    width: 33,3%;
}

.social {
    width: 1px;
    margin-top: 5%;
}


.copy {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 5%;
    padding-bottom: 2%;
}

/* journal page */

.cat-name {
    width: 30%;
    font-size: 30px;
    background-color: white;
    z-index: 99;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    font-size: 21px;
    letter-spacing: 10px;
    margin: 0 auto;
    text-transform: uppercase;
}

.cat-line {
    width: 100%;
    z-index: 1;
    margin-bottom: -5%;
    height: 4px;
    background-color: black;
}

.cat-section {
    padding-top: 10%;
    width: 90%;
    margin: auto;
}


/* quote post format */

.quote-format {
    width: 60%;
    margin: 0 auto;
    padding-left: 5%;
}

.quote {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 1%; 
    padding-bottom: 2%;
}


.quote-line {
    width: 50%;
    margin-top: 1%;
    height: 4px;
    background-color: black; 
}


/* single page  */

.single-title {
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
}

.single-content {
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.single-image {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.blog-links {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: black !important;
    text-decoration: none;
}


.single-post a{
    color: black !important;
}

.single-post ul {
    margin-top: 5%;
    padding: 0;
}

.page-id-61 ul {
    padding-top: 12%;
}




/* -------------mobile-------------------
----------------------------------------- */

@media screen and (min-width:180px) and (max-width:700px) {

/* home page */

.main-logo {
    letter-spacing: 20px;
    margin-top: 10%;
    font-size: 40px;  
}

.tagline {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 1px;
}
 
ul {
    width: 10%;
    text-align: left;
    padding-top: 12%;
    text-transform: uppercase;  
    margin-left: 0;
}



a {
    text-align: left;
    padding: 5%;
    font-size: 24px;
    letter-spacing: 5px;
}

/* bio page */

.page-head, .journal-head {
    font-size: 24px;
    letter-spacing: 15px;
    font-weight: 700;
}

.journal-head {
    font-size: 30px;
}

.logo-small {
    font-size: 16px;
    letter-spacing: 5px;
    padding-top: 5%;
}

.logo-small2 {
    display: none;
}

.flexmain {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto; 
    padding: 0;
}

.about-text {
    width: 100%;
}

.page-id-24 p {
    padding-top: 2%; 
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    color: #161616;
    text-shadow: none;
    transition: none;  
}

/* contact page */

.contact {
    width: 50%;
}

.cat-format {
    flex-wrap: wrap;
}

.journal-page {
    height: 100%;
    background-size: cover;

}


.cat-name {
    width: 80%;
}



.f-logo {
    width: 33,3%;
    height: 10%;
    padding-top: 5%;
    font-size: 21px;
    letter-spacing: 10px;
    font-weight: 700;
    color: #fff;
}

.footer-flex {
   display: none;
}

.contact {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5%;
    width: 33,3%;
}

.social {
    width: 1px;
    margin-top: 5%;
}


.copy {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.page-id-93 .bwg_standart_thumbnails_0 {
   padding-top: 10%;
   margin-top: 10%;
}

.form-group {
    width: 100%;
}

.page-id-26 .flexmain {
    width: 50%;
    padding-bottom: 10%;
}

}    

/* -------------tablet-------------------
----------------------------------------- */

@media screen and (min-width:701px) and (max-width:1024px) {

/* home page */

.home-section {
    padding: 0;
    margin: 0;
}

.tagline {
    width: 60%;
    font-size: 18px;
}
 
.page-id-61 ul {
    padding-top: 0;
}

ul {
    width: 10%;
    text-align: left;
    padding-top: 12%;
    text-transform: uppercase;  
    margin-left: 0;
}



a {
    text-align: left;
    padding: 5%;
    font-size: 30px;
    letter-spacing: 5px;
}
   
/* bio page */

.page-head {
    font-size: 24px;
    letter-spacing: 15px;
    font-weight: 700;
}

.logo-small {
    font-size: 16px;
    letter-spacing: 5px;
}

.flexmain {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto; 
    padding: 0;
}
.page-id-24 p {
    padding-top: 2%; 
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    color: #161616;
    text-shadow: none;
    transition: none;  
}

.journal-page {
    height: 100%;
    background-size: cover;

}

.cat-format {
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    
}

.form-group {
    width: 100%;
}

}    